<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>contacto</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<header class=nav>
		<div class="logo">
			<a href="../index.html"><img src="../assets/img/logo.jpg" alt="logo" class="img-logo"></a>
		</div>
		<ul class="menu">
			    <li class="item_nav"><a href="../index.html">nosotros</a></li>
				<li class="item_nav"><a href="servicios.html">servicios</a></li>
				<li class="item_nav"><a href="galeria.html">galeria</a></li>
				<li class="item_nav"><a href="equipo.html">equipo</a></li>
				<li class="item_nav"><a href="contacto.html">contacto</a></li>
			</ul>
	</header>
	<main>
		<div>
			<h1 class="titulo_principal">valdi food</h1>
		</div>
		<div>
			<h2>contacto</h2>
		</div>
		<div>
			<h2>Si a llegado hasta acá es porque hemos despertado confianza en usted. Para cotizar un evento, hablar de inquietudes, saber mas de nosotros, concretar una reunión, comuníquese por cualquiera de los medios que le brindamos a continuación.  
			</h2>
		</div>
		<div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/P4a1_2IORws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			</iframe>
		</div>
		<form action="#">
			<input type="text" name="nombre" placeholder="nombre">
			<br>
			<input type="text" name="apellido" placeholder="apellido">
			<br>
			<input type="number" name="edad" placeholder="edad">
			<br>
			<input type="text" name="celular" placeholder="celular">
			<br>
			<input type="email" name="email" placeholder="email">
			<div>
				consulta :
			</div>
			<textarea name="comentario"></textarea>
			<br>
			<div>
				<p>primera vez que se comunica :
					<div>si</div>
					<input type="radio" name="conocer" value="si">
					<div>no</div>
					<input type="radio" name="conocer" value="no">
				</p>
			</div>
			<br>
			<div>acepto terminos y condiciones
				<input type="checkbox" name="aceptar" value="1">
			</div>
			<br>
			<input type="submit" value="enviar">
			<input type="reset" value="reset">		
		</form>	   
	</main>
	<footer class="foot">
		<div class="medios"><!-- MEDIOS DE CONTACTOS -->
		  <div class="contacto">
			<a href="https://es-la.facebook.com/pg/valdifood/posts/" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"></a>
		  </div>
		  <div class="contacto">
			<img src="../assets/img/whatsapp.png" alt="whatsapp" class="redes">
		  </div>
		  <div class="contacto">
			<a href="https://www.instagram.com/valdifood/?hl=es-la" target="_blank"><img src="../assets/img/instagram.png" alt="instagram" class="redes"></a>
		  </div>
		  <div class="contacto">
			<img src="../assets/img/email.png" alt="email" class="redes">
		  </div>
		</div>  
		<div class="valdi">
			<h4>desarrollado por Diego José Valdivieso <img src="../assets/img/copyright.png" alt="copyright" class="redes">
			</h4>
		</div>
		
	</footer>

</body>
</html>