<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>servicios</title>
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<header class=nav>
		<div class="logo">
			<a href="../index.html"><img src="../assets/img/logo.jpg" alt="logo" class="img-logo"></a>
		</div>
		<ul class="menu">
			    <li class="item_nav"><a href="../index.html">nosotros</a></li>
				<li class="item_nav"><a href="servicios.html">servicios</a></li>
				<li class="item_nav"><a href="galeria.html">galeria</a></li>
				<li class="item_nav"><a href="equipo.html">equipo</a></li>
				<li class="item_nav"><a href="contacto.html">contacto</a></li>
		</ul>
	</header>
	<main class="servicios">
		<div class="experiencias">
			<h1>Estas son las experiencias que ofrecemos</h1>
		</div>
		<div class="s-lunch img-mod">
		     <img src="../assets/img/lunch-nueva.jpg" class="img-servicios">
			 <p class="parrafo-exp">
				<strong>Servicio de lunch</strong> : Consiste en el armado de diferentes islas con variedades de comidas. Cada puesto de cocina es a la llama, utilizando diferentes herramientas para que el publico pueda disfrutar de la cocción. 
			 </p>
		</div>
		<div class="s-mesa img-mod">
			 <p class="parrafo-exp">
				<strong>Servicio Todos a la mesa</strong> : Organizamos todo para que los comensales no tengan que moverse del lugar. Contamos con nuestro equipos de mozos y vajillas para ornamentar el lugar y hacer del evento un momento especial.
			 </p>
			 <img src="../assets/img/mesa-nuevo.jpg" class="img-servicios">
		</div>
		<div class="s-pasos img-mod">
		     <img src="../assets/img/pasos-nuevo.jpg" class="img-servicios">
			 <p class="parrafo-exp">
				<strong>Servicio Menú de pasos</strong> : Si lo que desean es algo mas gourmet, esta este tiene que ser su elección. Nuestros cocineros se encargan de pensar, idear y crear un menú armonizado, el cual es servido en pasos para y si el cliente lo desea nos encargamos del maridaje. 
			 </p>
		</div>
		<div class="s-estacas img-mod" >
			 <p class="parrafo-exp">
				<strong>Servicio de Estacas</strong> : Nos encargamos de que el publico en general, pueda vivir una experiencia única, criolla y de tradición. Tanto las herramientas como la vestimenta del personal es adecuada para la situación. Contamos además con un agregado, el cual consiste en un grupo folclórico que musicalice el momento.
			 </p>
			 <img src="../assets/img/estacas-nuevo.jpg" class="img-servicios">
		</div>
	</main>
	<footer class="foot">
		<div class="medios"><!-- MEDIOS DE CONTACTOS -->
		  <div class="contacto">
			<a href="https://es-la.facebook.com/pg/valdifood/posts/" target="_blank"><img src="../assets/img/facebook.png" alt="facebook" class="redes"></a>
		  </div>
		  <div class="contacto">
			<img src="../assets/img/whatsapp.png" alt="whatsapp" class="redes">
		  </div>
		  <div class="contacto">
			<a href="https://www.instagram.com/valdifood/?hl=es-la" target="_blank"><img src="../assets/img/instagram.png" alt="instagram" class="redes"></a>
		  </div>
		  <div class="contacto">
			<img src="../assets/img/email.png" alt="email" class="redes">
		  </div>
		</div>  
		<div class="valdi">
			<h4>desarrollado por Diego José Valdivieso <img src="../assets/img/copyright.png" alt="copyright" class="redes">
			</h4>
		</div>
		
	</footer>

</body>
</html>